.description-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  height: 300px;
  width: 200px;
  background: gray;
  border: 2px solid darkgray;
}