<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <div class="error">
    <h1>Internal server error!</h1>
  </div>
<%- include('../includes/end.ejs') %>